* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Hanken Grotesk";
  src: url("../assets/fonts/HankenGrotesk-VariableFont_wght.ttf");
}

body {
  font-family: "Hanken Grotesk";
}

/* Main Content */
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

/* Result Section */
.result-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 32px 58px;
  background: linear-gradient(180deg, #7755ff, #2f2ce9);
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 35px;
  box-shadow: 0 30px 60px rgba(61, 108, 236, 0.15);
}

.result-section {
  text-align: center;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result-section-heading-container {
  margin-bottom: 24px;
}

.result-section-heading-container p {
  font-size: 18px;
  font-weight: bold;
  line-height: 130%;
  color: #cac9ff;
}

.result-section-score-container {
  width: 140px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: linear-gradient(0deg, hsl(256deg 71% 46%), hsl(241deg 72% 46%));
  margin-bottom: 24px;
}

.result-section-score-top h1 {
  font-size: 56px;
  font-weight: 800;
  color: #fff;
}

.result-section-score-bottom p {
  font-size: 16px;
  font-weight: bold;
  line-height: 130%;
  color: #cac9ff;
}

.result-section-comment-heading {
  margin-bottom: 8px;
}

.result-section-comment-heading h2 {
  font-size: 24px;
  font-weight: bold;
  line-height: 130%;
  color: white;
}

.result-section-paragraph p {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
  color: #cac9ff;
}

/* Summary Section */
.summary-section-container {
  /* margin: 0 auto; */
  padding-bottom: 30px;
}

.summary-section {
  width: 315px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.summary-section-heading h3 {
  font-size: 18px;
  font-weight: 700;
  line-height: 130%;
  color: #303b59;
}

.summary-section-categories-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.summary-section-category-container {
  padding: 18px 16px;
  border-radius: 12px;
}

.summary-section-category {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.summary-section-label-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.summary-section-label-icon {
  margin-right: 16px;
  width: 20px;
  height: 20px;
}

.summary-section-label-icon img {
  width: 100%;
}

.summary-section-label-text p {
  font-size: 16px;
  font-weight: 500;
  line-height: 130%;
}

/* Categories background and text colors */
.summary-section-category-container.reaction {
  background-color: #fff6f6;
}

.summary-section-category-container.memory {
  background-color: #fffbf4;
}

.summary-section-category-container.verbal {
  background-color: #f2fcf9;
}

.summary-section-category-container.visual {
  background-color: #f3f4fd;
}

.reaction-text {
  color: #f55;
}
.memory-text {
  color: #ffb21e;
}
.verbal-text {
  color: #00bb8f;
}
.visual-text {
  color: #1125d6;
}

.top-number {
  font-size: 16px;
  font-weight: 700;
  color: #303b59;
  margin-right: 8px;
}

.bottom-number {
  font-size: 16px;
  font-weight: 700;
  color: #303b59;
  opacity: 50%;
}

/* Categories button */
.summary-section-button-container button {
  width: 100%;
  color: white;
  border: none;
  border-radius: 28px;
  background-color: #303b59;
  font-family: "Hanken Grotesk";
  font-size: 18px;
  font-weight: 700;
  padding: 17px 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.summary-section-button-container button:hover {
  background: linear-gradient(180deg, #7755ff, #2f2ce9);
}

@media (min-width: 768px) {
  /* Result Section */
  body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main {
    flex-direction: row;
    gap: 0;
    border-radius: 32px;
    overflow: hidden;
    box-shadow: 0 30px 60px rgba(61, 108, 236, 0.15);
  }

  .result-section-container {
    padding: 45px 69px;
    /* border-top-left-radius: 32px; */
    border-top-right-radius: 32px;
    /* border-bottom-left-radius: 32px; */
    border-bottom-right-radius: 32px;
  }

  .result-section {
    width: 200px;
  }

  .result-section-heading-container {
    margin-bottom: 32px;
  }

  .result-section-heading-container p {
    font-size: 24px;
  }

  .result-section-score-container {
    width: 200px;
    height: 200px;
    margin-bottom: 32px;
  }

  .result-section-score-top h1 {
    font-size: 72px;
  }

  .result-section-score-bottom p {
    font-size: 18px;
  }

  .result-section-comment-heading {
    margin-bottom: 16px;
  }

  .result-section-comment-heading h2 {
    font-size: 32px;
  }

  .result-section-paragraph p {
    font-size: 18px;
  }

  /* Summary Section */
  .summary-section-container {
    padding: 45px 40px;
  }

  .summary-section {
    width: 269px;
    gap: 32px;
  }

  .summary-section-heading h3 {
    font-size: 24px;
  }

  .summary-section-category-container {
    padding: 17px;
  }

  .summary-section-label-text p {
    font-size: 18px;
  }

  .top-number,
  .bottom-number {
    font-size: 18px;
  }

  .summary-section-button-container button {
    padding: 17px 97px;
  }
}

@media (min-width: 1440px) {
}
